@*<!DOCTYPE html>*@
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - scrumptious</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/style.css" />
    @*<style>
        .custom-white-text {
            color: white;
        }
    </style>*@

</head>
<body>
    <div class="notification-bar">
        <span class="notification-bar__text">
            註冊即送價值$100優惠券
        </span>


    </div>

    @*<nav class="navbar navbar-expand-md">
        <div class="container container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:flex; justify-content:space-evenly;">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("開始點餐", "Products", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("菜單介紹", "Index", "Categories")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("聯絡我們", "Index", "ContactUs")
                    </li>
                </ul>



                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo-removebg-preview1.png" alt="Scrumptious Logo" class="adjusted-logo">
                </a>
                <div class="memberNav">
                    <ul class="memberNav d-flex flex-nowrap">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("登出會員", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("登入會員", "Login", "Account")</li>
                            <li>@Html.ActionLink("註冊會員", "Register", "Account")</li>
                        }
                        <li>@Html.ActionLink("購物車", "Cart", "Cart")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>*@

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home", new {@class= "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home", new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home", new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home", new { @class = "nav-link" })
                    </li>
                </ul>
                <img src="images/logo-removebg-preview1.png" alt="..." class="logoPic adjusted-logo">

                <div class="memberNav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("登出會員", "Logout", "Account")
                    }
                    else
                    {
                        @Html.ActionLink("登入會員", "Login", "Account")
                        @Html.ActionLink("註冊會員", "Register", "Account")
                    }
                    @Html.ActionLink("購物車", "Cart", "Cart")
                    @*<a href="#" class="text-dark">登入會員</a>
        <a href="#" class="text-dark">註冊會員</a>
        <a href="#" class="text-dark">購物車</a>*@
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content " style="margin-top:7rem;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - scrumptious</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="assets/js/main.js"></script>
    <script src="js/jquery.3.6.4.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
